<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel = "tests" name="Suite">

<listeners>
<listener class-name="MMTPTEST.TestComponents.Listeners"/>
</listeners>


  <test thread-count="1" name="Home Page Test">
    <classes>
      <class name="MMTPTEST.tests.HomePageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->


